Dockerfile
.dockerignore

./server/Dockerfile
./server/.dockerignore
./server/node_modules
./server/dist
./server/out
./server/.gitignore
./server/*.md
./server/*.sql

./client/Dockerfile
./client/.dockerignore
./client/.next
./client/node_modules
./client/out
./client/.gitignore
./client/*.md

./database

./nginx
