@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tc-pri: #e9edef;
  --tc-sec: #a7b4bd;
  --bg-pri: #111b21;
  --bg-sec: #202c33;
  --bg-ter: #2a3942;
  --ac-pri: #005c4b;
  --ac-sec: #52bce9;
  --ac-dan: #ff3131;

  --chat-side-head-height: calc(5.9em);
  --chat-room-head-height: calc(7.2em);
  --chat-room-foot-height: calc(3.5em);
  --video-call-foot-height: calc(3.5em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tc-pri);
  background-color: var(--bg-pri);
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  color: var(--tc-pri);
  padding: 0.5em;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--bg-sec);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-ter);
  border-left: 1px solid var(--tc-sec);
}

.button-primary,
.button-primary:hover {
  color: var(--tc-pri);
  background-color: var(--ac-pri);
  padding: 0.5em;
  text-decoration: none;
}

.button-danger {
  color: var(--tc-pri);
  background-color: var(--ac-dan);
  padding: 0.5em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  color: var(--tc-pri);
  background-color: var(--bg-ter);
  text-decoration: none;
  padding: 0.5em;
}

input:focus {
  outline: none;
}

.search-bar {
  background-color: var(--bg-pri);
  padding: 0.5em;
  font-size: smaller;
}

.search-bar-items-wrapper {
  border-radius: 15em;
  background-color: var(--bg-ter);
}

.container {
  max-width: 100%;
  min-width: 600px;
}

.display-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.display-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.display-horizontal-top {
  display: flex;
  flex-direction: row;
}

.app-name {
  font-size: xxx-large;
  font-weight: bold;
  padding: 2em;
}

.signup-form {
  margin-left: auto;
  margin-right: auto;
}

.signup-title {
  font-size: x-large;
  padding: 0.5em;
}

.chat-body {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-columns: 35% 1fr;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: var(--bg-pri);
}

.chat-sidebar-header {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-sec);
  border-bottom: 2px solid var(--bg-pri);
  margin-bottom: -2px;
}

.chat-sidebar-body {
  grid-column: 1;
  grid-row: 2 / 4;
  position: sticky;
  top: var(--chat-side-head-height);
  box-sizing: border-box;
  min-height: calc(100vh - var(--chat-side-head-height));
  height: calc(100vh - var(--chat-side-head-height) - 2px);
  overflow-y: scroll;
}

.chatroom {
  min-width: 320px;
  border-left: 1px solid var(--tc-sec);
}

.chatroom-header {
  grid-column: 2;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-sec);
  padding: 0.5em;
  border-bottom: 2px solid var(--bg-pri);
  margin-bottom: -2px;
}

.chatroom-body {
  grid-column: 2;
  grid-row: 2;
  position: sticky;
  bottom: var(--chat-room-foot-height);
  box-sizing: border-box;
  min-height: calc(100vh - var(--chat-room-head-height));
  height: calc(100vh - var(--chat-room-head-height));
  padding-top: 0.5em;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: scroll;
}

.chatroom-footer {
  grid-column: 2;
  grid-row: 3;
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 0.5rem;
  background-color: var(--bg-sec);
  border-top: 2px solid var(--bg-pri);
  margin-top: -2px;
}

.recent-users {
  background-color: var(--bg-sec);
}

.recent-user-active {
  background-color: var(--bg-ter);
}

.contact-card {
  padding: 0.5em;
  outline: 1px solid var(--bg-pri);
}

.contact-title {
  color: var(--tc-pri);
  font-size: medium;
}

.contact-subtitle {
  color: var(--tc-sec);
  font-size: small;
}

.tc-accent-secondary {
  color: var(--ac-sec);
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-message-wrapper {
  margin-bottom: 0.25em;
}

.chat-message {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  max-width: 75%;
  font-size: smaller;
}

.chat-message-sent {
  border-radius: 1em 0 1em 1em;
  margin-left: auto;
  background-color: var(--ac-pri);
}

.chat-message-received {
  border-radius: 0 1em 1em 1em;
  margin-right: auto;
  background-color: var(--bg-sec);
}

.recent-users-loading-info,
.chatroom-body-info {
  padding: 1em;
  font-size: smaller;
  text-align: center;
  color: var(--tc-sec);
}

.chat-message-read {
  color: var(--ac-sec);
}

.chat-message-info {
  color: var(--tc-sec);
  padding-top: 0.5em;
  font-size: x-small;
  display: flex;
}

.chat-input-error {
  padding-bottom: 1em;
  font-size: smaller;
  text-align: center;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 1em solid var(--ac-pri);
  border-right: 1em solid transparent;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 1em solid var(--bg-sec);
  border-left: 1em solid transparent;
}

.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-call-header {
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  min-height: calc(100vh - var(--video-call-foot-height));
  height: calc(100vh - var(--video-call-foot-height));
}

.video-call-my-video-wrapper {
  background-color: black;
}

.video-call-my-video {
  width: 100%;
  height: 7em;
}

.video-call-body {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: var(--bg-pri);
}

.video-call-front {
  position: absolute;
  z-index: 2;
}

.video-call-back {
  position: absolute;
  z-index: -1;
}

.video-call-their-video-wrapper {
  background-color: black;
  width: 100%;
  height: calc(100vh - var(--video-call-foot-height) - 8.5em);
  min-height: calc(100vh - var(--video-call-foot-height) - 8.5em);
}

.video-call-info {
  text-align: center;
  vertical-align: middle;
  line-height: calc(100vh - var(--video-call-foot-height) - 8.5em);
}

.video-call-their-video {
  height: calc(100vh - var(--video-call-foot-height) - 8.5em);
}

.video-call-footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 0.5rem;
  background-color: var(--bg-sec);
  border-top: 2px solid var(--bg-pri);
  margin-top: -2px;
}

.notification {
  color: var(--tc-pri);
  font-size: medium;
  padding: 0.5em;
  outline: 0.5em solid var(--ac-pri);
  background-color: var(--bg-sec);
}